extends ../layouts/default

block content
	#landing-hero-1
	#landing-about
		.container-fluid
			h1.headline Yoga from the inside-out.
			p.landing-about-body1 
				| With yoga trainings for novices to instructors, 
				| I bring 30 years of study, passion and knowledge to every 
				| class and training! Through Embodied-inquery&#8482;,
				| together we will explore the physical, spiritual, and
				| intellectual growth that you are seeking, so you can 
				| realize your fullest potential.
				<br>
				<br>
				block.landing-quote
					| Yoga is like music. The rhythm of the body, the 
					| melody of the mind and the harmony of the soul 
					| create the symphony of life.
				cite - BKS Iyengar
			h2.landing-about-header2 Eager to learn more?
			p.landing-about-body2 
				| Read about 
				a(href='/blog/post/my-yoga-journey') my yoga journey.
				br
				br
				| For deeper explorations into the anatomical and philosophical
				| aspects of yoga, venture over to 
				a(href='/blog') my blog.
			a(href='/contact').btn.btn-contact 
				| Ready to grow together?
				hr.btn-divider
				span.btn-contact-footer Click here to get in touch
	#landing-workshops
		.container-fluid
			h1.headline Teacher Trainings
			div.workshops-btn-grp
				a(href='/blog/post/60200-hour-course').btn.btn-workshops 60/200 Hour Course
				a(href='/blog/post/500-hour-course').btn.btn-workshops 300 Hour Course
				a(href='/blog/post/class-schedule').btn.btn-workshops View Classes
			h1.headline Workshops
			!{ workshops.content.full }
			a(href='/blog/classes').btn.btn-contact 
				| Interested in the details?
				hr.btn-divider
				span.btn-contact-footer Take a look at my trainings
	#landing-hero-2
	#landing-audio
		.container-fluid
			h1.headline Embodyoga&reg; Basic Flow Audio Downloads
			p.audio-description 
				| Recorded by Guy DeVito.
				br 
				| Special thanks to: Craig Eastman and Patty Townsend.
				br
				| Copyright 2013, Karen Miscall-Bannon
			div.workshops-btn-grp
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCZ9SGBYF4ba7q6mx9a6PHpCJpklG07ElXqvRPIzfb92DCtZwAsp0udFk/Wnv+4LPCCp8giTOmzNMklVJsyH1o3b9mQNyU+bZHY+evWHDJEpd+A2/fXU1FFn7nFUApPosR09fYflyHkpecGBUrV2/9/qAL3Zlq9WF8ZInozCwjzwzELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIDuzAU244vb+AgcDZ0IR9Kl0zH2Vy0KDGuyshnfoC0XwZALXEWFILARguqUZnIgGaAEJ9FawPlCQo4cQAh242PeT974S6JFTjMwAd03ktf4Os/HEXFe62xviSHE6q2WlkW++WzdR7BnO+umy/pKYUl2RxyeatmpwS2aoYV3AI0glmjf5YJHntjZfl/nJNJzHmVpzNOA/K20VTEXpj/9lz4gV+PTuxxdfnGhttwQ3c3CiZdBqINwivUZ0XJK+GksTvFj/CRAVhoPau9f6gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDAxMTUxODA0NDNaMCMGCSqGSIb3DQEJBDEWBBS8fHW6IXVGGJhKg2U4+XvbFfus4TANBgkqhkiG9w0BAQEFAASBgAOSxhlaYYc1IiMsTc41d9YVbVCb408wpLLWIOizOj7ZzrZXfMoQO8oO0f4dS5AgOHuCu1fg3HU9bl2sROb70COaeXT7HUjdBLqAjT3dl/6dPa/ZgfYsldoC3l2RElCje/qFYpeFDMY55roxTMi/LXvg3G+CZk25sqhOypAMXQHW-----END PKCS7-----
				">
				<button name='submit' class='btn btn-audio'>Buy now for $10</button>
				</form>
				a(href='https://www.dropbox.com/s/kx8dijos6qlvlmu/Karen%20Yoganidra%202%20-May%2012%20-14%20mix%202%20w%20eq.wav?oref=e&n=178087338' target="_blank").btn.btn-audio
					| Yoganidra 2
				a(href='https://www.dropbox.com/sh/41h0tcc4y8upzrb/AABvOX1T7DsjypGGr2MRqYBqa/%20Sanskrit%20Pose%20Names?dl=0' target="_blank").btn.btn-audio
					| Sanskrit Pose Names
				a(href='/' style='display:none;').btn.btn-audio
