// Bootstrap
// =========

#gallery {
	padding-top: 5%;
	background-color: $grey-dark;
	@include mobile {
		padding-top: 7.5%;
	}
}

#gallery .container {
	@include mobile {
		width: calc(100vw - 50px);
	}
}

.gallery-header {
	padding: 50px 0 2px;
	margin-bottom: 20px;
	color: $grey-light;
	border-bottom: 2px solid $purple-light;
	border-radius: 1px;
	h1 {
		margin: 0;
	}
}
.gallery-header-date {
	font-size: 1.5rem;
	float: right;
}

.gallery-image-hero {
	width: 100%;
}

.gallery-images .row {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	.gallery-image {
		padding: 15px 0;
		height: 300px;
		@include mobile {
			height: 100%;
			width: calc(100vw - 50px);
		}
	}
	.gallery-image img {
		width: 100%;
	}
}
