// Post View
// =========

#post {
	padding-top: 5%;
	@include mobile {
		padding-top: 20vh;
	}
}
#post .container {
	@include mobile {
		padding: 0;
	}
}

.post-back {
	margin-bottom: 0;
	@include mobile {
		padding-left: 25px;
	}
}

.post-title {
	margin: 0;
}

#post .image-wrap img {
	width: 100%;
}

#post article {
	justify-content: initial;
	width: 100%;
	min-height: 75vh;
	color: $green-light;
	@include mobile {
		width: initial;
	}
	.post,
	header {
		width: 650px;
		@include mobile {
			width: 85vw;
		}
	}
	header {
		margin: 0 0 25px;
		padding-bottom: 5px;
		text-align: left;
		border-bottom: 2px solid $purple-light;
	}

}
