// Layout
// ======

// Base Elements
// =============

body {
	margin: 0;
	background-color: $green-dark;
}

#header {
	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Containers
// ==========

.container {
	margin: 0 auto;
	padding: 25px;
	width: 1200px;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

.container-navbar {
	display: flex;
	padding: 25px 0;
} 
