// Layout
// ======

// Base Elements
// =============

body {
	background-color: $green-dark;
}

#header {
	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Containers
// ==========

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.container-fluid {
	display: flex;
	flex-direction: row;
}
