// Layout
// ======

// Base Elements
// =============

body {
	margin: 0;
	background-color: $green-dark;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Containers
// ==========

.container {
	margin: 0 auto;
	padding: 25px;
	width: 1200px;
	@include mobile {
		width: calc(100vw - 50px);
	}
}

.container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

.container-navbar {
	display: flex;
} 
