/**
 * Colors
 * ======
**/

$white: #FFF;

$green-dark: #75985B;
$green-regular: #CAE5B6;
$green-light: #E0F2D3;

$purple-dark: #7E5B98;
$purple-regular: #A388B8;
$purple-light: #E5D3F2;

$grey-dark: #4D4C4F;
$grey-regular: #8B8A8F;
$grey-light: #E0E0E1;
