/**
 * Colors
 * ======
**/
/**
 * Fonts
 * =====
**/
@font-face {
  font-family: 'museo-slab-300';
  src: url("/fonts/museo/museo-slab-300.otf") format("opentype"); }

@font-face {
  font-family: 'museo-slab-500';
  src: url("/fonts/museo/museo-slab-500.otf") format("opentype"); }

@font-face {
  font-family: 'museo-100';
  src: url("/fonts/museo/museo-100.otf") format("opentype"); }

@font-face {
  font-family: 'museo-500';
  src: url("/fonts/museo/museo-500.otf") format("opentype"); }

@font-face {
  font-family: 'museo-sans-cond-500';
  src: url("/fonts/museo/museo-sans-cond-500.otf") format("opentype"); }

@font-face {
  font-family: 'museo-rounded-700';
  src: url("/fonts/museo/museo-rounded-700.otf") format("opentype"); }

/**
 * Type Sizing / Spacing
 * =====================
**/
/**
 * Type Color Variables
 * =====================
**/
/**
 * Base Element Typograpy
 * ======================
**/
html,
body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'museo-slab-500';
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin: 18.096px 0;
  max-width: 636px; }

a {
  color: #E5D3F2;
  font-family: 'museo-500';
  text-decoration: none;
  text-transform: uppercase; }

a:hover {
  color: #FFF; }

h1,
h2,
h3 {
  font-family: 'museo-sans-cond-500'; }
  h1 a,
  h2 a,
  h3 a {
    font-family: 'museo-sans-cond-500'; }

h2,
h3 {
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 40px; }

h2 {
  font-size: 24px;
  line-height: 30px; }

h3 {
  font-size: 16px;
  line-height: 20px;
  color: #E0F2D3; }

cite {
  display: block;
  font-style: normal;
  font-size: 12.8px; }

body {
  margin: 0;
  background-color: #75985B; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  margin: 0 auto;
  padding: 25px;
  width: 1200px; }
  @media (max-width: 768px) {
    .container {
      width: calc(100vw - 50px); } }

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px; }

.container-navbar {
  display: flex; }

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.15s ease-in-out; }

#header .container {
  padding: 15px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center; }

.navbar-brand-img {
  height: 60px; }

.navbar-brand-label {
  color: #E0F2D3;
  font-size: 1rem;
  font-family: 'museo-rounded-700';
  cursor: pointer; }

.navbar-collapse {
  display: flex;
  align-items: center; }

.nav {
  display: flex; }
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 75px;
      right: 15px;
      display: none;
      text-align: right; } }
  .nav li {
    padding: 15px; }
    @media (max-width: 768px) {
      .nav li {
        padding: 0; } }
    .nav li a {
      color: #E0F2D3; }
      .nav li a:hover {
        color: #FFF; }

.navbar-btn {
  display: none; }
  @media (max-width: 768px) {
    .navbar-btn {
      display: block; } }

.bumper {
  flex: 1; }

.btn {
  align-self: center;
  padding: 10px 30px;
  font-size: 0.875rem;
  font-family: 'museo-500';
  font-weight: 600;
  color: #E5D3F2;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #7E5B98;
  transition: all 0.25s ease-in-out; }
  .btn:hover {
    color: #FFF;
    background-color: #715188; }
  .btn:focus {
    outline: none; }

.btn-contact {
  margin-top: 30px; }

.btn-contact-footer {
  font-family: 'museo-100';
  font-size: 0.75rem;
  text-transform: initial; }

.btn-divider {
  visibility: hidden;
  margin: -4px; }

.btn-workshops,
.btn-audio {
  padding: 10px 20px;
  background-color: transparent; }

.btn-workshops {
  color: #E0E0E1;
  font-size: 1rem; }
  .btn-workshops:hover {
    background-color: #403f42; }

.btn-contact-form {
  float: right;
  margin: 10px 0;
  cursor: pointer; }

#footer {
  padding: 75px 0;
  color: #E0E0E1;
  font-family: 'museo-500';
  font-size: 0.875rem;
  background-color: #4D4C4F;
  border: none; }
  #footer h1,
  #footer h2,
  #footer h3 {
    color: #E0E0E1; }

#footer .container-fluid {
  flex-direction: row;
  justify-content: initial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 768px) {
    #footer .container-fluid {
      flex-direction: column; } }

#footer p {
  margin: 0; }

.footer-right {
  margin-left: auto; }
  @media (max-width: 768px) {
    .footer-right {
      margin: 25px 0 0; } }

#footer .btn-contact {
  display: block;
  margin: 0; }

.footer-keystone {
  font-size: 0.75rem; }

.footer-facebook {
  display: inline-block; }

.footer-user {
  padding-left: 10px; }

#footer .container-fluid.certifications {
  padding-top: 50px;
  justify-content: center; }
  #footer .container-fluid.certifications img {
    height: 100px; }

#landing-hero-1 {
  min-height: 512px;
  height: 75vh;
  background-image: url("../images/yoga_kbarnes_039.JPG");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 100vh rgba(77, 76, 79, 0.5); }
  @media (max-width: 768px) {
    #landing-hero-1 {
      min-height: 180px; } }

#landing-hero-2 {
  min-height: 590px;
  background-image: url("../images/yoga_kbarnes_045.JPG");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 100vh rgba(77, 76, 79, 0.5); }
  @media (max-width: 768px) {
    #landing-hero-2 {
      min-height: 150px; } }

#landing-about .container-fluid,
#landing-workshops .container-fluid,
#landing-audio .container-fluid {
  align-items: flex-start;
  margin: 0 auto;
  max-width: 650px;
  padding: 25px 0 50px;
  text-align: left; }
  @media (max-width: 768px) {
    #landing-about .container-fluid,
    #landing-workshops .container-fluid,
    #landing-audio .container-fluid {
      padding: 25px; } }

#landing-about {
  background: #75985B; }
  #landing-about .container-fluid {
    color: #E0F2D3; }
    #landing-about .container-fluid h1,
    #landing-about .container-fluid h2,
    #landing-about .container-fluid h3 {
      color: #E0F2D3; }

.headline {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #E5D3F2;
  border-radius: 1px; }

.headline-name {
  color: #E5D3F2; }

#landing-workshops {
  background: #4D4C4F; }
  #landing-workshops .container-fluid {
    color: #E0E0E1; }
    #landing-workshops .container-fluid h1,
    #landing-workshops .container-fluid h2,
    #landing-workshops .container-fluid h3 {
      color: #E0E0E1; }

.workshops-table {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px; }

.workshops-table-item {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0;
  border-top: 2px solid #E0E0E1; }
  .workshops-table-item:last-child {
    border-bottom: 2px solid #E0E0E1; }

.workshop-title {
  width: 50%;
  font-family: 'museo-sans-cond-500';
  font-size: 1.5rem;
  text-transform: capitalize; }

.workshop-description {
  margin-left: auto;
  width: 50%;
  text-align: right; }

.workshops-btn-grp {
  align-self: center;
  padding: 25px 0; }
  .workshops-btn-grp .btn {
    display: inline-block; }
  .workshops-btn-grp .btn:first-child {
    margin-right: 15px; }

#landing-workshops form {
  align-self: center; }

#landing-workshops .btn-contact {
  margin: 0;
  cursor: pointer; }

#landing-workshops .btn-divider {
  margin: -1px; }

#landing-audio {
  background: #7E5B98; }
  #landing-audio .container-fluid {
    color: #E5D3F2; }
    #landing-audio .container-fluid h1,
    #landing-audio .container-fluid h2,
    #landing-audio .container-fluid h3 {
      color: #E5D3F2; }
  #landing-audio .audio-description {
    align-self: center;
    text-align: center; }
  #landing-audio .workshops-btn-grp {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

.btn-audio {
  cursor: pointer; }

#gallery {
  padding-top: 5%;
  background-color: #4D4C4F; }
  @media (max-width: 768px) {
    #gallery {
      padding-top: 7.5%; } }

@media (max-width: 768px) {
  #gallery .container {
    width: calc(100vw - 50px); } }

.gallery-header {
  padding: 50px 0 2px;
  margin-bottom: 20px;
  color: #E0E0E1;
  border-bottom: 2px solid #E5D3F2;
  border-radius: 1px; }
  .gallery-header h1 {
    margin: 0; }

.gallery-header-date {
  font-size: 1.5rem;
  float: right; }

.gallery-image-hero {
  width: 100%; }

.gallery-images .row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between; }
  .gallery-images .row .gallery-image {
    padding: 15px 0;
    height: 300px; }
    @media (max-width: 768px) {
      .gallery-images .row .gallery-image {
        height: 100%;
        width: calc(100vw - 50px); } }
  .gallery-images .row .gallery-image img {
    width: 100%; }

.contact-header {
  padding-top: 5%;
  text-align: center; }

.contact-form {
  width: 650px;
  min-height: 75vh;
  padding-bottom: 75px; }
  @media (max-width: 768px) {
    .contact-form {
      width: 85vw; } }

.contact-form .form-group {
  padding: 10px 0;
  display: flex;
  flex-direction: column; }

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  font-family: 'museo-slab-300';
  color: #4D4C4F;
  border: none;
  resize: vertical; }
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none; }

.contact-submitted {
  height: 50vh; }

#blog {
  padding-top: 5%; }

.blog-header {
  padding: 50px 0 2px;
  margin-bottom: 20px;
  color: #E0F2D3;
  border-bottom: 2px solid #E5D3F2;
  border-radius: 1px; }
  .blog-header h1 {
    margin: 0; }

.blog-row {
  width: 100%;
  max-width: 650px;
  color: #E0F2D3; }

.blog-post-title {
  text-transform: capitalize; }

.blog-content-brief {
  color: #FFF; }

.blog .post {
  margin: 15px 0;
  padding: 25px 0;
  border-top: 2px solid #E0F2D3; }
  .blog .post img {
    float: left;
    padding-right: 15px; }

.blog-categories {
  float: right; }
  .blog-categories a {
    padding-left: 10px; }
  .blog-categories .active {
    color: #FFF; }

.pagination {
  display: flex; }
  .pagination li {
    padding: 5px; }

#post {
  padding-top: 5%; }
  @media (max-width: 768px) {
    #post {
      padding-top: 20vh; } }

@media (max-width: 768px) {
  #post .container {
    padding: 0; } }

.post-back {
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .post-back {
      padding-left: 25px; } }

.post-title {
  margin: 0; }

#post .image-wrap img {
  width: 100%; }

#post article {
  justify-content: initial;
  width: 100%;
  min-height: 75vh;
  color: #E0F2D3; }
  @media (max-width: 768px) {
    #post article {
      width: initial; } }
  #post article .post,
  #post article header {
    width: 650px; }
    @media (max-width: 768px) {
      #post article .post,
      #post article header {
        width: 85vw; } }
  #post article header {
    margin: 0 0 25px;
    padding-bottom: 5px;
    text-align: left;
    border-bottom: 2px solid #E5D3F2; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

#flash-messages > div {
  display: flex;
  align-items: center;
  margin: 2.5% auto;
  flex-direction: column; }
