// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

// @import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

// Site Styles
// ===========

@import "site/variables";
@import "site/palette";
@import "site/typography";
@import "site/layout";

// Component Styles
// ================

@import "components/navbar";
@import "components/buttons";

// View Styles
// ===========

@import "views/landing";

// Base Styles
// ===========

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
