// Navbar
// ======

#header {
	position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.15s ease-in-out;
  // background: rgba(117, 152, 91, 0.9);
}

#header .container {
	padding: 15px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navbar-brand-img {
	height: 60px;
}
.navbar-brand-label {
	color: $green-light;
	font-size: 1rem;
	font-family: 'museo-rounded-700';
	cursor: pointer;
}

.navbar-collapse {
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
	li {
		padding: 15px;
		a {
			color: $green-light;
			&:hover { color: $white; }
		}
	}
}

.bumper {
	flex: 1;
}
