// Navbar
// ======

#header {
	position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

#header .container {
	padding: 15px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navbar-brand-img {
	height: 60px;
}
.navbar-brand-label {
	color: $green-light;
	font-size: 1rem;
	font-family: 'museo-rounded-700';
	cursor: pointer;
}

.navbar-collapse {
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
	@include mobile {
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: 75px;
		right: 15px;
		display: none;
		text-align: right;
	}
	li {
		padding: 15px;
		@include mobile {
			padding: 0;
		}
		a {
			color: $green-light;
			&:hover { color: $white; }
		}
	}
}

.navbar-btn {
	display: none;
	@include mobile {
		display: block;
	}
}

.bumper {
	flex: 1;
}
